In [17]:
import pandas as pd

In [18]:
data = pd.read_excel('OutputData.xlsx')

In [19]:
data

,SalesOrderDetailID,SaleDate,ProductID,Name,OrderQty,UnitPrice,TotalSale
0,1,2011-05-31,776,"Mountain-100 Black, 42",1,2024.994,2024.994
1,2,2011-05-31,777,"Mountain-100 Black, 44",3,2024.994,6074.982
2,3,2011-05-31,778,"Mountain-100 Black, 48",1,2024.994,2024.994
3,4,2011-05-31,771,"Mountain-100 Silver, 38",1,2039.994,2039.994
4,5,2011-05-31,772,"Mountain-100 Silver, 42",1,2039.994,2039.994
...,...,...,...,...,...,...,...
121312,121313,2014-06-30,878,Fender Set - Mountain,1,21.980,21.980
121313,121314,2014-06-30,712,AWC Logo Cap,1,8.990,8.990
121314,121315,2014-06-30,878,Fender Set - Mountain,1,21.980,21.980
121315,121316,2014-06-30,879,All-Purpose Bike Stand,1,159.000,159.000
121316,121317,2014-06-30,712,AWC Logo Cap,1,8.990,8.990

In [20]:
agg_sale = data.groupby(['ProductID', "Name"]).agg({"OrderQty":"sum", "TotalSale":"sum"}).copy()

In [21]:
agg_sale.sort_values(by=["TotalSale"], ascending=False, inplace=True)

In [22]:
agg_sale

                                         OrderQty     TotalSale
ProductID Name
782       Mountain-200 Black, 38             2977  4.406151e+06
783       Mountain-200 Black, 42             2664  4.014068e+06
779       Mountain-200 Silver, 38            2394  3.696486e+06
780       Mountain-200 Silver, 42            2234  3.441293e+06
781       Mountain-200 Silver, 46            2216  3.436091e+06
...                                           ...           ...
914       LL Touring Seat/Saddle               91  1.480752e+03
943       LL Mountain Frame - Black, 40         8  1.198992e+03
897       LL Touring Frame - Blue, 58           4  8.002080e+02
710       Mountain Bike Socks, L               90  5.130000e+02
911       LL Road Seat/Saddle                  10  1.627200e+02

[266 rows x 2 columns]

In [23]:
agg_sale["CumulativeSum"] = agg_sale["TotalSale"].cumsum()
agg_sale["PrecentageOfTotal"] = 100 * agg_sale["CumulativeSum"] /agg_sale["TotalSale"].sum()

In [24]:
agg_sale

,,OrderQty,TotalSale,CumulativeSum,PrecentageOfTotal
ProductID,Name,,,,
782,"Mountain-200 Black, 38",2977,4.406151e+06,4.406151e+06,3.992023
783,"Mountain-200 Black, 42",2664,4.014068e+06,8.420219e+06,7.628814
779,"Mountain-200 Silver, 38",2394,3.696486e+06,1.211671e+07,10.977873
780,"Mountain-200 Silver, 42",2234,3.441293e+06,1.555800e+07,14.095723
781,"Mountain-200 Silver, 46",2216,3.436091e+06,1.899409e+07,17.208861
...,...,...,...,...,...
914,LL Touring Seat/Saddle,91,1.480752e+03,1.103712e+08,99.997576
943,"LL Mountain Frame - Black, 40",8,1.198992e+03,1.103724e+08,99.998663
897,"LL Touring Frame - Blue, 58",4,8.002080e+02,1.103732e+08,99.999388
710,"Mountain Bike Socks, L",90,5.130000e+02,1.103737e+08,99.999853
911,LL Road Seat/Saddle,10,1.627200e+02,1.103739e+08,100.000000

### ABC Analysis

**From 0 to 20 : 'A'**

**From 20 to 50 : 'B'**

**From 50 to 100 : 'C'**

In [28]:
def ranking(row):

    if row["PrecentageOfTotal"] <= 20:
        return "A"
    
    elif row["PrecentageOfTotal"] > 20 and row["PrecentageOfTotal"] <= 50:
        return "B"
    
    else:
        return "C"

In [31]:
agg_sale["ABCRanking"] = agg_sale.apply(ranking, axis=1)

In [32]:
agg_sale

,,OrderQty,TotalSale,CumulativeSum,PrecentageOfTotal,ABCRanking
ProductID,Name,,,,,
782,"Mountain-200 Black, 38",2977,4.406151e+06,4.406151e+06,3.992023,A
783,"Mountain-200 Black, 42",2664,4.014068e+06,8.420219e+06,7.628814,A
779,"Mountain-200 Silver, 38",2394,3.696486e+06,1.211671e+07,10.977873,A
780,"Mountain-200 Silver, 42",2234,3.441293e+06,1.555800e+07,14.095723,A
781,"Mountain-200 Silver, 46",2216,3.436091e+06,1.899409e+07,17.208861,A
...,...,...,...,...,...,...
914,LL Touring Seat/Saddle,91,1.480752e+03,1.103712e+08,99.997576,C
943,"LL Mountain Frame - Black, 40",8,1.198992e+03,1.103724e+08,99.998663,C
897,"LL Touring Frame - Blue, 58",4,8.002080e+02,1.103732e+08,99.999388,C
710,"Mountain Bike Socks, L",90,5.130000e+02,1.103737e+08,99.999853,C
911,LL Road Seat/Saddle,10,1.627200e+02,1.103739e+08,100.000000,C

In [ ]:
agg_sale.